# ignore target folder
target/

# ignore idea files
.idea/
creeper.iml

# master ignore
#jar/
#doc/
#records/
#src/main/java/demo
#src/main/java/test

# demo mode
jar/
doc/
src/main/java/demo
src/main/java/test